{% load static %}
<!--{% load crispy_forms_tags %}-->
<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_6</title>
  <meta charset="UTF-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="main_page.html">simple<span class="logo_colour">style_6</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a></li>
          <li><a href="{% url 'catalog:items_page' %}">Товары</a></li>
          <li><a href="{% url 'catalog:read_blog' %}">Блог</a></li>
          <li><a href="{% url 'catalog:contact_page' %}">Контакты</a></li>
          {% if user.is_authenticated %}
            <li class="selected"><a href="{% url 'users:logout' %}">Выйти</a></li>
            <li class="selected"><a href="{% url 'users:profile' %}">Профиль</a></li>
          {% else %}
            <li class="selected"><a href="{% url 'users:login' %}">Войти</a></li>
            <li class="selected"><a href="{% url 'users:register' %}">Регистрация</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">

      <div id="content">
        <h1>Вход?</h1>
           <form method="post" enctype="multipart/form-data">
               {% csrf_token %}
               {{ form.as_p }}
           <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="подтвердить" /></p>
            </form>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a> | <a href="{% url 'catalog:items_page' %}">Товары</a> | <a href="{% url 'catalog:read_blog' %}">Блог</a> | <a href="{% url 'catalog:contact_page' %}">Контакты</a></p>

    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
