{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_6 - examples</title>
  <meta charset="UTF-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
<!--  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="main_page.html">simple<span class="logo_colour">style_6</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a></li>
          <li class="selected"><a href="{% url 'catalog:items_page' %}">Товары</a></li>
          <li><a href="{% url 'catalog:read_blog' %}">Блог</a></li>
          <li><a href="{% url 'catalog:all_categories' %}">Категории</a></li>
          <li><a href="{% url 'catalog:contact_page' %}">Контакты</a></li>
          {% if user.is_authenticated %}
            <li class="selected"><a href="{% url 'users:logout' %}">Выйти</a></li>
            <li class="selected"><a href="{% url 'users:profile' %}">Профиль</a></li>
          {% else %}
            <li class="selected"><a href="{% url 'users:login' %}">Войти</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="content_header"></div>

    <div id="site_content">
          <div id="content">
            <h1>Все категории товаров</h1>
            <h2>CRUD не делала, только просмотр</h2>
            <div class="container">
              <div class="row">
                {% for category in object_list %}
                  <div class="col-md-5">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title">{{ category.name }}</h3>
                        <h4>Homework 23.2</h4>
                        <h5>Создано: &copy; {% now 'Y' %}</h5>
                        <p class="card-text">{{ category.description }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>

          </div>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a> | <a href="{% url 'catalog:items_page' %}">Товары</a> | <a href="{% url 'catalog:read_blog' %}">Блог</a> | <a href="{% url 'catalog:contact_page' %}">Контакты</a></p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
