{% load static %}
{% load mediapath %}

<!DOCTYPE HTML>
<html>

<head>
  <title>simplestyle_6 - contact us</title>
  <meta charset="UTF-8">
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="{% url 'catalog:main_page' %}">simple<span class="logo_colour">style_6</span></a></h1>
          <h2>Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a></li>
          <li><a href="{% url 'catalog:items_page' %}">Товары</a></li>
          <li><a href="{% url 'catalog:read_blog' %}">Блог</a></li>
          <li class="selected"><a href="{% url 'catalog:contact_page' %}">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">

      <div id="content">
        <!-- insert the page content here -->
        <h1>Свяжитесь с нами</h1>
        <p>Напишите ваши данные:</p>
        <form action="" method="post">
          <div class="form_settings">
            {% csrf_token %}
            <p><span>Ваше имя:</span><input class="contact" type="text" name="name" value="" /></p>
            <p><span>Ваш телефон:</span><input class="contact" type="text" name="зрщту" value="" /></p>
            <p><span>Ваше сообщение:</span><textarea class="contact textarea" rows="8" cols="50" name="message"></textarea></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="подтвердить" /></p>
          </div>
        </form>
          <p>
          <br /><br />Мы с Вами свяжемся в ближайшее время
          <img src="{% mediapath 'heart.png' %}" alt="heart" />

<!--          <img src="{% static 'style/heart.png' %}" alt="heart" />-->
          </p>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="{% url 'catalog:main_page' %}">Домашняя страничка</a> | <a href="{% url 'catalog:items_page' %}">Товары</a> | <a href="{% url 'catalog:read_blog' %}">Блог</a> | <a href="{% url 'catalog:contact_page' %}">Контакты</a></p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
